@import url(https://fonts.googleapis.com/css?family=Coda);

body{
  background: #000;
  padding-top: 10px;
}

p{
  color: cyan;
  font-family: "Coda";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: wrap;
  width: 30em;
  animation: type 4s steps(60, end);
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
